.contact-form{
  padding-top: 50px;
  text-align: center;
  .cont{
    @include displayGrid(430px);
    +.input-wrapper{
      max-width: 590px;
      margin: 23px auto;
      width: 100%;
    }
  }
  .input-wrapper , textarea{
    height: 75px;
    background: transparent;
    border: 2px solid #FFF;
    padding-right: 24px;
  }
  input{
    color: #FFF;
    background: transparent;
    font-size: 24px;
    font-weight: 500;
    &::placeholder{
      color: #FFF;
    }
  }
  textarea{
    padding-top: 25px;
    height: 357px;
    max-height: 357px;
    min-height: 100px;
    margin-bottom: 23px;
    &::placeholder{
      color: #FFF;
    }
    +input[type = submit]{
      transition: $transition;
      width: 184px;
      &:hover{
        background: #FFF;
        color: $coffeColor;
      }
    }
  }
}