.services{
  .content{
    margin-top: 45px;
    @include displayGrid(387px);
    .cont{
      text-align: center;
      padding: 60px 17px 41px;
      background: $purpleColor;
      color: #fff;
      .image{
        width: 77px;
        height: 77px;
        margin: 0 auto 40px;
        background: #AC926E;
        padding: 20px;
        transform: rotate(40deg);
        position: relative;
        box-shadow: -14px -11px 0px #ac926e82;
        svg{
          width: 40px;
          height: 40px;
          transform: rotate(-40deg);
        }
      }
      h3{
        font-size: 26px;
        font-weight: 500;
        margin: 17px 0 31px;
      }
      .text{
        max-width: 359px;
        margin: 0 auto 20px;
        font-size: 20px;
        font-weight: 500;
        max-height: 64px;
        overflow: hidden;
      }
    }
  }
  &.departments{
    .content{
      .cont{
        .image{
          img{
            width: 108px;
          }
        }
      }
    }
  }
}