.team{
  .content{
    padding-top: 50px;
    @include displayGrid;
    .cont{
      margin-bottom: 25px;
      .image{
        position: relative;
        height: 303px;
        .title{
          text-align: center;
          background: $coffeColor;
          color: #fff;
          width: 220px;
          padding: 10px;
          margin: 0 auto;
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          h5{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
          }
          h6{
            font-size: 16px;
            margin-bottom: 0;
          }
        }
        img{
          width: 100%;
        }
      }
    }
  }
}